<body cellpadding="0" cellspacing="0" style="padding: 0; margin: 0; border: 0; width:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color: #efefef;">
<!--allrecords-->
<table id="allrecords" data-tilda-email="yes" data-tilda-project-id="2617103" data-tilda-page-id="12230044" data-tilda-page-alias="" cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; padding:0; margin:0; border:0;">
    <tr>
        <td style="background-color: #efefef; " >
            <!--record_mail-->
            <table id="rec204597634" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="619">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204597634" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table valign="top" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td style="height:30px;" height="30px">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204597635" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204597635" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3134-6332-4235-a536-373237653131/Slice_20.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599332" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599332" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3636-3430-4765-b637-376335306364/Slice_21.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599337" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599337" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6661-6333-4738-b466-353433663839/Slice_22.png" imgfield="img" >
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599336" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599336" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl + '?annual' %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6138-6164-4662-b761-313862366130/Slice_23.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599335" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599335" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl + '?quarterly' %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6236-3735-4439-a335-663433306162/Slice_24.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599334" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599334" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3330-3432-4362-b062-646161326534/Slice_25.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599407" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599407" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="https://forum.chinesepod.com" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3565-6630-4062-a435-313361333363/Slice_26.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599405" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599405" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6665-3263-4831-b331-346163323334/Slice_27.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599416" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599416" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6631-3035-4064-b838-303666343432/Slice_28.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599421" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599421" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3536-3462-4161-b361-613461343832/Slice_29.png" imgfield="img" >
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204599437" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="628">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204599437" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:45px;padding-bottom:45px;padding-left:30px;padding-right:30px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                                                    <tr>
                                                        <td width="100%">
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.facebook.com/ChinesePod">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_fb.png">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://twitter.com/chinesepod">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_twitter.png?1">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.instagram.com/chinesepod/">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_instagram.png">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.pinterest.com/chinesepod/">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_pinterest.png">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.youtube.com/user/ChinesePodTV">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_youtube3.png">
                                                            </a>
                                                        </td>
                                                        <td width="100%">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; padding-top: 38px;">
                                                <div style="margin: 0 auto; font-weight: normal; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#222222;font-size:16px;line-height:1.5;max-width:450px;">
                                                    Copyright © <%= new Date().getFullYear() %> ChinesePod LLC<br />
                                                    All rights reserved.<br />
                                                    246 West Broadway New York NY 10013<br />
                                                    <a href="/terms">
                                                        Terms of Use</a>
                                                    | <a href="/privacy">
                                                        Privacy Policy</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
        </td>
    </tr>
</table>
<!--/allrecords-->
</body>
