<body cellpadding="0" cellspacing="0" style="padding: 0; margin: 0; border: 0; width:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color: #efefef;">
<!--allrecords-->
<table id="allrecords" data-tilda-email="yes" data-tilda-project-id="2617103" data-tilda-page-id="12230095" data-tilda-page-alias="" cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse; border-spacing:0; padding:0; margin:0; border:0;">
    <tr>
        <td style="background-color: #efefef; " >
            <!--record_mail-->
            <table id="rec204598370" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="619">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598370" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table valign="top" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td style="height:30px;" height="30px">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598371" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598371" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3863-3231-4363-a438-363461613930/Slice_30.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598559" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598559" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3930-3734-4730-b665-303437313961/Slice_31.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598757" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598757" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3035-3838-4538-b035-646562303131/Slice_32.png" imgfield="img" >
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598756" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598756" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl + '?annual' %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6666-3465-4463-b761-383230303365/Slice_33.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598758" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598758" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl + '?quarterly' %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3462-3365-4238-b063-386639306130/Slice_34.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598754" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598754" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3534-3239-4138-b630-313432383134/Slice_35.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598759" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598759" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="https://forum.chinesepod.com" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6537-6661-4465-a632-643731336634/Slice_36.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598755" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598755" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6139-6262-4331-b033-323361346331/Slice_37.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598762" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598762" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3932-3536-4365-a532-373531353634/Slice_38.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598858" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598858" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <a href="<%= promoUrl %>" target="_blank">
                                                    <img width="600" align="center" style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3039-3131-4636-b232-336637343132/Slice_39.png" imgfield="img" >
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
            <!--record_mail-->
            <table id="rec204598955" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="628">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin204598955" class="r" style="margin: 0 auto;border-spacing: 0;max-width:600px;" align="center">
                            <tr>
                                <td style="padding-top:45px;padding-bottom:45px;padding-left:30px;padding-right:30px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                                                    <tr>
                                                        <td width="100%">
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.facebook.com/ChinesePod">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_fb.png">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://twitter.com/chinesepod">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_twitter.png?1">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.instagram.com/chinesepod/">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_instagram.png">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.pinterest.com/chinesepod/">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_pinterest.png">
                                                            </a>
                                                        </td>
                                                        <td align="center" style="width: 34px; padding: 0 9px;" class="w-100">
                                                            <a style="text-decoration: none;" href="https://www.youtube.com/user/ChinesePodTV">
                                                                <img style="display: block; width: 34px;" src="https://static.tildacdn.com/img/soc/t_ico_youtube3.png">
                                                            </a>
                                                        </td>
                                                        <td width="100%">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; padding-top: 38px;">
                                                <div style="margin: 0 auto; font-weight: normal; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#222222;font-size:16px;line-height:1.5;max-width:450px;">
                                                    Copyright © <%= new Date().getFullYear() %> ChinesePod LLC<br />
                                                    All rights reserved.<br />
                                                    246 West Broadway New York NY 10013<br />
                                                    <a href="https://www.chinesepod.com/terms">
                                                        Terms of Use</a>
                                                    | <a href="https://www.chinesepod.com/privacy">
                                                        Privacy Policy</a></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record-->
        </td>
    </tr>
</table>
<!--/allrecords-->
</body>
